body {
    font-family: Arial, sans-serif;
    background-image: url("sfondofaqq.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin:0;
    padding: 0;
    height: 80vh;
}

h1{
    color:rgb(54,173,133);
    text-align: center;

}
.content {
    margin-top: 300px; 
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 30px;
    text-align: left;
    border-radius: 10px;
}

th {
    background-color:rgb(54,173,133);
    color:white;
    font-size: 20px;
}

tr{
    background-color: rgba(255, 255, 255, 0.899);
}

tr:hover {
    background-color: rgb(54,173,133);
}
.question {
    cursor: pointer;
    outline: none;
    font-size: 18px;
}

.answer {
    display: none;
    color: #333;
    font-style: italic;
    font-size: 18px;
    padding-top: 20px;
}

.altoadestra a {
    position: absolute;
    top: 40px; 
    left: 20px;
    text-decoration: none;
    padding: 10px 15px;
    background-color: rgb(54,173,133);
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.altoadestra a :hover {
    background-color: #0056b3;
}
.ask-box {
    margin: 50px auto 10px auto; 
    width: 50%; /* largo 80% dello schermo */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(54,173,133,0.3);
    
    /* Disposizione verticale */
    display: flex;
    flex-direction: column; /* importantissimo */
    gap: 10px; /* spazio tra elementi */
    align-items: center; /* centra contenuti orizzontalmente */
}


#message {
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  min-height: 24px; /* evita che il layout salti se messaggio vuoto */
  color: green;
}

.ask-box textarea {
    width: 100%; /* prendono tutta la larghezza disponibile */
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid rgb(54,173,133);
    border-radius: 8px;
    outline: none;
    color: #333;
}

.ask-box textarea:focus {
    border-color: rgb(30,120,90);
}

.ask-box button {
    padding: 10px 25px;
    background-color: rgb(54,173,133);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.ask-box button:hover {
    background-color: blue;
}

#email {
  height: 30px; /* altezza fissa più bassa */
  width: 50%; 
  resize: none; 
}