body{
    font-family: Arial, sans-serif;
    background-image: url("sfondoinfo.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin:0;
    padding: 0;
    height: 60vh;
}

.bottoni a{
    position: absolute;
    top: 40px; 
    left: 20px;
    text-decoration: none;
    padding: 10px 15px;
    background-color: rgb(54, 173, 133);
    color:white;    
    border-radius: 5px;
    font-weight: bold;
}
.bottoni a:hover {
    background-color: blue;
} 
pre{
    margin:auto;
    background-color: rgba(255, 255, 255, 0.899);
    padding: 30px;
    border-radius: 12px;
    color: black;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 190px;
    width: 90%;
    text-align: center;
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    white-space: normal;  
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
    margin-top:50px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.899);
}

th {
    background-color: rgb(54, 173, 133);
    color: white;
}

